---
const year = new Date().getFullYear();
---
<div class="text-center text-sm text-slate-900 space-y-1 ">

  <p>buone.news © {year}</p> 
  <p><a target="_blank" class="underline underline-offset-4 hover:text-orange-500" href="https://linkedin.com/in/alberto-abate">Alberto Abate</a> <a target="_blank" class="underline underline-offset-4 hover:text-orange-500" href="https:7/linkedin.com/in/cesconix">Francesco Pasqua</a></p>
</div>
