---
import ArticleList from "../components/article-list.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Buone News!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>buone.news</title>
  </head>
  <body>
    <header class="py-3 px-6 border-border border-b border-b-slate-200">
      <Header />
    </header>
    <main class="mx-auto max-w-2xl">
      <ArticleList />
    </main>
    <footer class="py-3 px-6 border-border border-t border-t-slate-200">
      <Footer />
    </footer>
	</body>
</html>

